<footer class="pie text-muted bg-light"> <!-- fixed-bottom-->
  <div class="container">
    <div class="row justify-content-around align-content-center">
      <a
        class="mx-5 btn btn-link"
        href="https://es-es.facebook.com/"
        aria-hidden="true"
        target="_blank"
      >
      <fa-icon class="fa-3x" [icon]='faFacebook'></fa-icon>
      </a>
      <a
        class="mx-5 btn btn-link"
        href="https://web.whatsapp.com/"
        aria-hidden="true"
        target="_blank"
      >
      <fa-icon class="fa-3x" [icon]='faWhatsapp'></fa-icon>
      </a>
      <a
        class="mx-5 btn btn-link"
        href="https://www.instagram.com/"
        aria-hidden="true"
        target="_blank"
      >
      <fa-icon class="fa-3x" [icon]='faInstagram'></fa-icon>
      </a>
      <a
        class="mx-5 btn btn-link"
        href="mailto:direcciondeemail@prueba.org?subject=Tema&cc=otroemail@pruebas.org&body=Cuerpo del mensaje"
        aria-hidden="true"
        target="_blank">
        <fa-icon class="fa-3x" [icon]='faCorreo'></fa-icon>
      </a>
    </div>
  </div>
</footer>
