<div class="container mt-4">
  <h1 class="text-danger text-center">Home</h1>
  <hr />
  <div class="row text-center mt-4">
    <div class="col">
      <br>
      <img src="./assets/caza.jpg" />
    </div>
    <div class="col m-4">
      <br>
      <h4 class="text-info">Bienvenido al portal de GESCAZA</h4>
      <br />
      <cite
        >La combinación de movimientos generó la destreza y tal vez la astucia.
        La astucia lo hizo cazador. Ahí nació el artista. Cada animal que el
        hombre cazaba era una puesta en escena distinta. Cazar era relacionar
        distancias, olores, vientos, audacias, prudencias, velocidades y
        quietudes. Cazar era una obra de arte que jamás se repetía.
      </cite>
    </div>
  </div>
</div>
