<div class="jumbotron jumbotron-fluid">
  <div class="row justify-content-start align-items-center">
    <div class="col col-sm-2">
      <a routerLink="/"><img class="logo img-thumbnail" src="./assets/logo_GESCAZA.png" alt="GESCAZA"></a>
    </div>
    <div class="col col-sm-3 text-center ml-0">
      <h2 class="display-3 text-primary">GESCAZA</h2>
      <p class="lead">Gestión de Eventos de Caza</p>
    </div>

    <div class="col col-sm-7 text-center">
      <!-- weather widget start -->
        <a target="_blank" href="https://hotelmix.es/weather/zaragoza-8372"><img id="widget" src="https://w.bookcdn.com/weather/picture/3_8372_1_4_137AE9_430_ffffff_333333_08488D_1_ffffff_333333_0_6.png?scode=124&domid=582&anc_id=91744"  alt="booked.net"/></a>
      <!-- weather widget end -->
    </div>

  </div>
</div>

